@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 100% 99%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 350 100% 88%;
    --primary-foreground: 350 80% 20%;
    --secondary: 340 100% 97%;
    --muted: 340 100% 97%;
    --muted-foreground: 240 4% 46%;
    --accent: 340 100% 97%;
    --accent-foreground: 240 5% 26%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 335 85% 94%;
    --input: 335 85% 94%;
    --ring: 350 100% 88%;
    --placeholder-text: 335 21% 73%;
  }
 
  .dark {
    --background: 270 10% 12%;
    --foreground: 210 20% 98%;
    --card: 270 9% 17%;
    --card-foreground: 210 20% 98%;
    --popover: 270 9% 17%;
    --popover-foreground: 210 20% 98%;
    --primary: 350 100% 88%;
    --primary-foreground: 350 80% 20%;
    --secondary: 270 12% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 270 9% 17%;
    --muted-foreground: 240 4% 64%;
    --accent: 270 9% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 9% 22%;
    --input: 270 9% 22%;
    --ring: 350 100% 88%;
    --placeholder-text: 335 21% 63%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background: linear-gradient(to bottom, hsl(var(--background)), hsl(var(--secondary)));
  }
  .dark body {
    background: linear-gradient(to bottom, hsl(270 10% 12%), hsl(270 15% 17%));
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .blinking-cursor {
    animation: blink 1s step-end infinite;
  }
  .dark .blinking-cursor {
    text-shadow: 0 0 5px hsl(var(--primary) / 0.7);
  }
}
