@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 25% 97%;
    --foreground: 0 0% 17%;
    --card: 330 25% 97%;
    --card-foreground: 0 0% 17%;
    --popover: 330 25% 97%;
    --popover-foreground: 0 0% 17%;
    --primary: 349 37% 75%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 73% 90%;
    --secondary-foreground: 0 0% 17%;
    --muted: 346 73% 94%;
    --muted-foreground: 0 0% 45%;
    --accent: 346 73% 90%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 349 37% 85%;
    --input: 349 37% 85%;
    --ring: 349 37% 75%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 10%;
    --foreground: 330 25% 97%;
    --card: 0 0% 10%;
    --card-foreground: 330 25% 97%;
    --popover: 0 0% 10%;
    --popover-foreground: 330 25% 97%;
    --primary: 349 37% 75%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 330 25% 97%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;
    --accent: 0 0% 15%;
    --accent-foreground: 330 25% 97%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 349 37% 30%;
    --input: 349 37% 30%;
    --ring: 349 37% 75%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
