@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 25% 97%;
    --foreground: 0 0% 17%;
    --card: 330 25% 97%;
    --card-foreground: 0 0% 17%;
    --popover: 330 25% 97%;
    --popover-foreground: 0 0% 17%;
    --primary: 349 37% 75%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 73% 90%;
    --secondary-foreground: 0 0% 17%;
    --muted: 346 73% 94%;
    --muted-foreground: 0 0% 45%;
    --accent: 346 73% 90%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 349 37% 85%;
    --input: 349 37% 85%;
    --ring: 349 37% 75%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 270 11% 11%;
    --foreground: 330 25% 97%;
    --card: 267 13% 15%;
    --card-foreground: 330 25% 97%;
    --popover: 267 13% 15%;
    --popover-foreground: 330 25% 97%;
    --primary: 349 37% 75%;
    --primary-foreground: 270 11% 11%;
    --secondary: 268 17% 17%;
    --secondary-foreground: 330 25% 97%;
    --muted: 268 17% 17%;
    --muted-foreground: 0 0% 64%;
    --accent: 267 13% 15%;
    --accent-foreground: 330 25% 97%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 268 17% 22%;
    --input: 268 17% 22%;
    --ring: 349 37% 75%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .blinking-cursor {
    animation: blink 1s step-end infinite;
  }
  .dark .blinking-cursor {
    text-shadow: 0 0 5px hsl(var(--primary) / 0.7);
  }
}
