@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 346 100% 91%;
    --primary-foreground: 0 0% 20%;
    --secondary: 346 100% 97%;
    --secondary-foreground: 0 0% 20%;
    --muted: 346 100% 97%;
    --muted-foreground: 0 0% 45%;
    --accent: 346 100% 97%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 346 100% 85%;
    --input: 346 100% 85%;
    --ring: 346 100% 91%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 346 100% 91%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 17%;
    --muted-foreground: 0 0% 64%;
    --accent: 0 0% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 346 100% 91%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
