@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 346.8 98.6% 90.2%;
    --primary-foreground: 346.8 9.1% 9.8%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 8.9% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 8.9% 45.1%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 210 8.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 91.4%;
    --input: 210 40% 91.4%;
    --ring: 346.8 98.6% 90.2%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
    --primary: 346.8 98.6% 90.2%;
    --primary-foreground: 346.8 9.1% 9.8%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 213 31% 91%;
    --muted: 215 28% 17%;
    --muted-foreground: 216 12% 64%;
    --accent: 215 28% 17%;
    --accent-foreground: 213 31% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 213 31% 91%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 346.8 98.6% 90.2%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
