@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 343 100% 91.2%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 343 100% 95%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 343 100% 85%;
    --chart-1: 343 100% 91.2%;
    --chart-2: 339 88% 75%;
    --chart-3: 335 80% 65%;
    --chart-4: 0 0% 50%;
    --chart-5: 0 0% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 5% 15%;
    --foreground: 0 0% 95%;
    --card: 240 5% 18%;
    --card-foreground: 0 0% 95%;
    --popover: 240 5% 18%;
    --popover-foreground: 0 0% 95%;
    --primary: 339 88% 70%;
    --primary-foreground: 0 0% 10%;
    --secondary: 240 4% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 4% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 339 88% 70%;
    --chart-1: 339 88% 70%;
    --chart-2: 339 80% 60%;
    --chart-3: 339 70% 50%;
    --chart-4: 0 0% 80%;
    --chart-5: 0 0% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
