@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 100% 98%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 332 85% 88%;
    --primary-foreground: 332 85% 20%;
    --secondary: 330 80% 96%;
    --secondary-foreground: 240 5% 26%;
    --muted: 330 80% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 330 80% 96%;
    --accent-foreground: 240 5% 26%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 332 85% 94%;
    --input: 332 85% 94%;
    --ring: 332 85% 88%;
    --radius: 0.5rem;
    --placeholder-text: 327 21% 73%;
  }
 
  .dark {
    --background: 260 11% 11%;
    --foreground: 210 20% 98%;
    --card: 260 10% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 260 10% 15%;
    --popover-foreground: 210 20% 98%;
    --primary: 332 90% 90%;
    --primary-foreground: 260 11% 11%;
    --secondary: 260 10% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 260 10% 18%;
    --muted-foreground: 240 4% 64%;
    --accent: 260 10% 18%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 10% 22%;
    --input: 260 10% 22%;
    --ring: 332 90% 90%;
    --placeholder-text: 327 21% 63%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background: linear-gradient(to bottom, hsl(var(--background)), hsl(var(--secondary)));
  }
  .dark body {
    background: linear-gradient(to bottom, hsl(260 11% 11%), hsl(270 15% 17%));
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .blinking-cursor {
    animation: blink 1s step-end infinite;
  }
  .dark .blinking-cursor {
    text-shadow: 0 0 5px hsl(var(--primary) / 0.7);
  }
}
