@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 330 17% 98%;
    --foreground: 0 0% 17%;
    --card: 330 17% 98%;
    --card-foreground: 0 0% 17%;
    --popover: 330 17% 98%;
    --popover-foreground: 0 0% 17%;
    --primary: 349 37% 75%;
    --primary-foreground: 0 0% 17%;
    --secondary: 336 18% 94%;
    --secondary-foreground: 0 0% 17%;
    --muted: 336 18% 94%;
    --muted-foreground: 0 0% 45%;
    --accent: 318 22% 69%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 349 20% 88%;
    --input: 349 20% 88%;
    --ring: 349 37% 75%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 0 0% 50%;
    --chart-5: 0 0% 70%;
  }
  .dark {
    --background: 0 0% 13%;
    --foreground: 330 17% 98%;
    --card: 0 0% 13%;
    --card-foreground: 330 17% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 330 17% 98%;
    --primary: 349 37% 75%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 330 17% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 65%;
    --accent: 318 22% 69%;
    --accent-foreground: 330 17% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 349 37% 75%;
    --chart-1: 217.2 91.2% 59.8%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 0 0% 80%;
    --chart-5: 0 0% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
